@keyframes spinner-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border: 0.2rem solid currentColor;
  border-radius: 50%;
  border-right-color: transparent;
  vertical-align: -0.125em;
  animation: 0.75s linear infinite spinner-animation;
  transition: color 0.12s linear;
}
