.spinner {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border: 0.2rem solid currentColor;
  border-radius: 50%;
  border-right-color: transparent;
  vertical-align: -0.125em;
  transition: color 0.12s linear;
}
